body {
    background-image: url("blossomsback.png");
    background-color: #fff2ff;
    background-repeat: no-repeat;
    background-size: 1000px;
    background-position: right top;
}

p.about {
	font-family: "Lucida Calligraphy";
	font-size: 40px;
	color: #5f5252;
	position: absolute;
	top:20px;
	right:1150px;
}
p.aboutme {
	font-family: "Times New Roman";
	font-size: 18px;
	color: #5f5252;
	position: absolute;
	top:100px;
	right:885px;